@{
     ViewData["RootUrl"] = "/blazor/";
}

@section scripts {
    <script src="_framework/blazor.webassembly.js"></script>
}

@section extraCSS {
    <!-- <link href="css/site.css" rel="stylesheet" /> -->
}

<div class="bg-dark text-white p-2">
    <div class="navbar-brand">SPORTS STORE</div>
</div>

<app>Loading...</app>
