@section scripts {
    <script src="runtime-es2015.js" type="module"></script>
    <script src="polyfills-es2015.js" type="module"></script>
    <script src="main-es2015.js" type="module"></script>
    <script src="runtime-es5.js" nomodule></script>
    <script src="polyfills-es5.js" nomodule></script>
    <script src="main-es5.js" nomodule></script>
}

<!-- <div id="data" class="p-1 bg-warning">
  @Json.Serialize(Model)
</div> -->

<app-root></app-root>
